.table-submit {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
h1 {
    color: #6A0DAD;
    font-family: 'Roboto', sans-serif; 
    text-align: center;
  }
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.form-write {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

#titleInput {
    width: 200px;
    height: 20px;
    padding: 4px;
}

#startDateInput {
    width: 100px;
}

#endDateInput {
    width: 100px;
}

#jobSelect {
    width: 200px;     
    height: 28px;       
    font-size: 14px;    
    padding: 4px;   
    box-sizing: border-box; 
  }

#submit {
    width: 100px;
    height: 26px;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    color: #800080;
    border: 2px solid #80008080;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
#submit:hover{
    background-color: #800080;
    color: #fff;
}
.submit{
    display: flex;
    justify-content: end;
}
#todoForm {
    border: 2px solid #555;
    border-radius: 10px;
    background-color: #f9f0ff;
}

.write-title,
.write-startDate,
.write-endDate,
.select-job {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
}

table {
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #000;
    padding: 2px;
}

th:nth-child(1),
td:nth-child(1) {
    width: 200px;
}
td:nth-child(1){
    padding-left: 10px;
    color: #444;
}

th:nth-child(1){
    color: #6a0dad;
    background-color: #E6CCFF;
}
th:nth-child(2){
    color: #6a0dad;
    background-color: #E6CCFF;
}
th:nth-child(3){
    color: #6a0dad;
    background-color: #E6CCFF;
}
th:nth-child(4){
    color: #6a0dad;
    background-color: #E6CCFF;
}
th:nth-child(2),
td:nth-child(2) {
    width: 100px;
}
td:nth-child(2){
text-align: center;
color: #444;
}
th:nth-child(3),
td:nth-child(3) {
    width: 100px;
}
td:nth-child(3){
    text-align: center;
    color: #444;
    }
th:nth-child(4),
td:nth-child(4) {
    width: 150px;
}
td:nth-child(4){
    padding-left: 10px;
    color: #444;
}