
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #333;
    line-height: 1.5;
}

.page {
    display: flex;
    flex-direction: column;
    padding: 2% 6%;
    gap: 30px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-text>* {
    margin: 0;
    padding: 0;
}

.billing-controls__search {
    border: 2px solid rgb(231, 234, 238);
    padding-left: 1%;
    border-radius: 6px;
    background-color: white;
    color: rgb(83, 83, 83);
}

#search {
    width: 460px;
    height: 36px;
    padding-left: 2%;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tool {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.add {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    border-radius: 4px;
    align-items: center;
    border: 2px solid rgb(4, 120, 87);
    background-color: rgb(4, 120, 87);
    color: white;
    padding: 2% 4%;
}

.add:hover {
    background-color: white;
    color: rgb(4, 120, 87);
    cursor: pointer;
}

.download {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    border-radius: 4px;
    align-items: center;
    border: 2px solid rgb(231, 234, 238);
    background-color: white;
    padding: 2% 4%;
    white-space: nowrap;
    cursor: pointer;
}

.download:hover {
    background-color: #e6e3e3;
}

.billing-tabs>* {
    margin: 0;
    padding: 0;
}

.billing-tabs {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    border-bottom: 2px solid#555;
}
.billing-tabs p{
    cursor: pointer;
}
.billing-tabs__item-1 {
    border-bottom: 2px solid rgb(4, 120, 87);
}

.billing-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 248, 249);
    padding: 10px 2dvh;
    border-radius: 6px;
}
.invoice-table__row input{
    cursor: pointer;
}
.billing-controls__search {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.invoice-table__row input{
    width: 18px;
    height: 18px;
    accent-color: rgb(127,86,217);
}
input[type="text"],
input[type="search"] {
    outline: none;
}

.billing-controls__search input:focus {
    outline: none;
    border-color: #e5e7eb;
}

#search:focus {
    outline: none;
}

.billing-controls__filter>* {
    margin: 0;
    padding: 0;
}

.billing-controls__filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 10px 10px;
    color: rgb(100, 116, 139);
    border-radius: 6px;
    cursor: pointer;
}

.invoice-table {
    display: flex;
    flex-direction: column;
}

.invoice-table p {
    color: rgb(100, 116, 139);
    font-size: 1.1rem;
}

.invoice-table__header,
.invoice-table__row {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
    border-bottom: 1px solid rgb(231, 234, 238);
    padding: 8px 0;
}

.invoice-table__cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    max-height: 16px;
}

.invoice-table__cell-paid {
    background-color: rgb(236, 253, 245);
    color: rgb(6, 78, 59);
    border-radius: 8px;
    padding: 5px 10px;
    display: inline-block;
    max-width:fit-content;

}

.invoice-table__cell-unpaid {
    background-color: rgb(254, 242, 242);
    color: rgb(166, 54, 54);
    border-radius: 8px;
    padding: 5px 10px;
    display: inline-block;
    max-width: fit-content;
}
.invoice-table__cell button{
    width: 85px;
    padding: 6px 0;
    font-size: 1rem;
    color:rgb(100,116,139) ;
    background-color:rgb(231,234,238) ;
    border: 2px solid rgb(231,234,238);
    border-radius: 4px;
}